<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/scripts/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-route/angular-route.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-aria/angular-aria.min.js"></script>
  <script src="/scripts/angular-messages/angular-messages.min.js"></script>
  <script src="/scripts/angular-material/angular-material.min.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/controllers/BoardCtrl.js"></script>
</head>

<body ng-app="app" layout="row">
  <div ng-controller="AppCtrl" layout="column" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate>
          <a href="" ng-click="reload()">DOJO Retro</a>
        </md-truncate>
      </div>
    </md-toolbar>

    <div ng-controller="BoardCtrl">
      <md-content>
        <div layout="row">
          <div layout="column" flex="25">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Happy</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <md-chips ng-model="items.happy" md-transform-chip="addHappyItem($chip)" >
                  <md-chip-template >
                    <strong >{{$chip.title}}</strong>
                  </md-chip-template>
                </md-chips>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-content>

      <md-button ng-click="showNewBoardDialog($event);" class="md-fab md-primary md-fab-bottom-right" aria-label="New Board">
        <md-icon>add</md-icon>
      </md-button>

      <div style="visibility: hidden">
        <div class="md-dialog-container" id="newBoardDialog">
          <md-dialog flex="40" aria-label="New Board">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>New Board</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel();">
                  <md-icon aria-label="Close Dialog">close</md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="md-dialog-content">
                <form layout-align="bottom" layout-padding>
                  <div layout="row">
                    <md-input-container flex class="md-icon-float md-block md-title">
                      <label>Board</label>
                      <input ng-model="newBoard.name" type="text">
                    </md-input-container>
                    <div>
                      <md-button ng-click="submit()" class="md-primary md-raised">
                        <md-icon>add</md-icon>
                      </md-button>
                    </div>
                  </div>
                </form>
              </div>
            </md-dialog-content>
          </md-dialog>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
