<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/scripts/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-route/angular-route.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-aria/angular-aria.min.js"></script>
  <script src="/scripts/angular-messages/angular-messages.min.js"></script>
  <script src="/scripts/angular-material/angular-material.min.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/controllers/BoardCtrl.js"></script>
</head>

<body ng-app="app" layout="row">
  <div ng-controller="AppCtrl" layout="column" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate>
          <a href="" ng-click="reload()">DOJO Retro</a>
        </md-truncate>
      </div>
    </md-toolbar>
    <md-content>
      <div layout="row">
        <div layout="column" flex="25">
          <md-card  md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Card with image</span>
                <span class="md-subhead">Large</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-content>
  </div>
</body>

</html>
